<a href="https://colab.research.google.com/github/hargurjeet/Lending-Club-CaseStudy/blob/main/Lending_Club_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this case study, you will use EDA to understand how consumer attributes and loan attributes influence the tendency of default.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
! git clone https://github.com/hargurjeet/Lending-Club-CaseStudy.git

Cloning into 'Lending-Club-CaseStudy'...
remote: Enumerating objects: 48, done.
remote: Counting objects: 100% (48/48), done.
remote: Compressing objects: 100% (46/46), done.
remote: Total 48 (delta 23), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (48/48), done.

In [3]:
with zipfile.ZipFile("/content/Lending-Club-CaseStudy/loan.zip","r") as zip_ref:
    zip_ref.extractall("/content/Lending-Club-CaseStudy/")

# Data Understanding

All data quality issues are correctly identified and reported. 

 

Wherever required, the meanings of the variables are correctly interpreted and written either in the comments or text.

In [4]:
file_path = r'/content/Lending-Club-CaseStudy/loan.csv'
df = pd.read_csv(file_path)
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [6]:
df1 = pd.read_excel('/content/Lending-Club-CaseStudy/Data_Dictionary.xlsx')
df1

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
114               zip_code  The first 3 numbers of the zip code provided b...
115                    NaN                                                NaN
116                    NaN  * Employer Title replaces Employer Name for al...

[117 rows x 2 columns]

In [7]:
df.shape

(39717, 111)

In [8]:
def view_all(df):
  pd.set_option('display.max_rows', None)
  pd.set_option('max_columns', None)
  pd.set_option('display.max_colwidth', None)
  return df.style.set_properties(**{'text-align': 'left'})

view_all(df1)

# Data Cleaning and Manipulation

Data quality issues are addressed in the right way (missing value imputation, outlier treatment and other kinds of data redundancies, etc.). 

 

If applicable, data is converted to a suitable and convenient format to work with using the right methods.

 

 

Manipulation of strings and dates is done correctly wherever required.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

## Identifying missing values

In [10]:
# Checking the missing values
df.isnull().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12940
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                           50
total_acc                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
total_pymnt                           0
total_pymnt_inv                       0
total_rec_prncp                       0
total_rec_int                         0
total_rec_late_fee                    0
recoveries                            0
collection_recovery_fee               0
last_pymnt_d                         71
last_pymnt_amnt                       0
next_pymnt_d                      38577
last_credit_pull_d                    2
collections_12_mths_ex_med           56
mths_since_last_major_derog       39717
policy_code                           0
application_type                      0
annual_inc_joint                  39717
dti_joint                         39717
verification_status_joint         39717
acc_now_delinq                        0
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
delinq_amnt                           0
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

In [11]:
# Funtion to remove the columns where 90% of values are missing
def columns_with_high_missing_values_removed(df):
  missing_percent = (df.isnull().sum()/len(df))*100
  for feature, values in zip(missing_percent.index, missing_percent):
    if values >= 90:
      missing_percent.drop(feature, inplace=True)
  return missing_percent

df2 = columns_with_high_missing_values_removed(df)
df2

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      6.191303
emp_length                     2.706650
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
desc                          32.580507
purpose                        0.000000
title                          0.027696
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq        64.662487
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.125891
total_acc                      0.000000
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.178765
last_pymnt_amnt                0.000000
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
policy_code                    0.000000
application_type               0.000000
acc_now_delinq                 0.000000
chargeoff_within_12_mths       0.140998
delinq_amnt                    0.000000
pub_rec_bankruptcies           1.754916
tax_liens                      0.098195
dtype: float64

In [12]:
df2.shape

(55,)

In [13]:
print(df2.loc[lambda x:(x<70) & (x>10)])

desc                      32.580507
mths_since_last_delinq    64.662487
dtype: float64

In [14]:
## There is pratically no logical ways to fill these missing values
## droping these features for now
df3 = df2.drop(['desc', 'mths_since_last_delinq'])
df3.shape

(53,)

In [15]:
# Filtering columns with low missing values
low_missing_values_col = df3.loc[lambda x:(x<10) & (x>0)].sort_values(ascending=False).index
low_missing_values_col

Index(['emp_title', 'emp_length', 'pub_rec_bankruptcies', 'last_pymnt_d',
       'collections_12_mths_ex_med', 'chargeoff_within_12_mths', 'revol_util',
       'tax_liens', 'title', 'last_credit_pull_d'],
      dtype='object')

In [16]:
df[low_missing_values_col].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   emp_title                   37258 non-null  object
 1   emp_length                  38642 non-null  object
 2   pub_rec_bankruptcies        39020 non-null  float64
 3   last_pymnt_d                39646 non-null  object
 4   collections_12_mths_ex_med  39661 non-null  float64
 5   chargeoff_within_12_mths    39661 non-null  float64
 6   revol_util                  39667 non-null  object
 7   tax_liens                   39678 non-null  float64
 8   title                       39706 non-null  object
 9   last_credit_pull_d          39715 non-null  object
dtypes: float64(4), object(6)
memory usage: 3.0+ MB

In [17]:
df[low_missing_values_col].head()

,emp_title,emp_length,pub_rec_bankruptcies,last_pymnt_d,collections_12_mths_ex_med,chargeoff_within_12_mths,revol_util,tax_liens,title,last_credit_pull_d
0,NaN,10+ years,0.0,Jan-15,0.0,0.0,83.70%,0.0,Computer,May-16
1,Ryder,< 1 year,0.0,Apr-13,0.0,0.0,9.40%,0.0,bike,Sep-13
2,NaN,10+ years,0.0,Jun-14,0.0,0.0,98.50%,0.0,real estate business,May-16
3,AIR RESOURCES BOARD,10+ years,0.0,Jan-15,0.0,0.0,21%,0.0,personel,Apr-16
4,University Medical Group,1 year,0.0,May-16,0.0,0.0,53.90%,0.0,Personal,May-16

In [18]:
## As the missing values of low and there is no logical ways of imputting them all
## Hence I am dropping the rows containing missing values
# df4 = df3.drop(low_missing_values_col)
df4 = df[df3.index].dropna()
df4.shape

(36431, 53)

In [19]:
pd.reset_option('all')
pd.set_option('max_columns', None)
df4.head(2)

As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.0,0,Apr-99,5,3,0,1687,9.40%,4,f,0.0,0.0,1008.71,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.0,0,Feb-96,1,10,0,5598,21%,37,f,0.0,0.0,12231.89,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

## Data Standardization

In [20]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36431 entries, 1 to 39623
Data columns (total 53 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          36431 non-null  int64
 1   member_id                   36431 non-null  int64
 2   loan_amnt                   36431 non-null  int64
 3   funded_amnt                 36431 non-null  int64
 4   funded_amnt_inv             36431 non-null  float64
 5   term                        36431 non-null  object
 6   int_rate                    36431 non-null  object
 7   installment                 36431 non-null  float64
 8   grade                       36431 non-null  object
 9   sub_grade                   36431 non-null  object
 10  emp_title                   36431 non-null  object
 11  emp_length                  36431 non-null  object
 12  home_ownership              36431 non-null  object
 13  annual_inc                  36431 non-null  float64
 14  verification_status         36431 non-null  object
 15  issue_d                     36431 non-null  object
 16  loan_status                 36431 non-null  object
 17  pymnt_plan                  36431 non-null  object
 18  url                         36431 non-null  object
 19  purpose                     36431 non-null  object
 20  title                       36431 non-null  object
 21  zip_code                    36431 non-null  object
 22  addr_state                  36431 non-null  object
 23  dti                         36431 non-null  float64
 24  delinq_2yrs                 36431 non-null  int64
 25  earliest_cr_line            36431 non-null  object
 26  inq_last_6mths              36431 non-null  int64
 27  open_acc                    36431 non-null  int64
 28  pub_rec                     36431 non-null  int64
 29  revol_bal                   36431 non-null  int64
 30  revol_util                  36431 non-null  object
 31  total_acc                   36431 non-null  int64
 32  initial_list_status         36431 non-null  object
 33  out_prncp                   36431 non-null  float64
 34  out_prncp_inv               36431 non-null  float64
 35  total_pymnt                 36431 non-null  float64
 36  total_pymnt_inv             36431 non-null  float64
 37  total_rec_prncp             36431 non-null  float64
 38  total_rec_int               36431 non-null  float64
 39  total_rec_late_fee          36431 non-null  float64
 40  recoveries                  36431 non-null  float64
 41  collection_recovery_fee     36431 non-null  float64
 42  last_pymnt_d                36431 non-null  object
 43  last_pymnt_amnt             36431 non-null  float64
 44  last_credit_pull_d          36431 non-null  object
 45  collections_12_mths_ex_med  36431 non-null  float64
 46  policy_code                 36431 non-null  int64
 47  application_type            36431 non-null  object
 48  acc_now_delinq              36431 non-null  int64
 49  chargeoff_within_12_mths    36431 non-null  float64
 50  delinq_amnt                 36431 non-null  int64
 51  pub_rec_bankruptcies        36431 non-null  float64
 52  tax_liens                   36431 non-null  float64
dtypes: float64(18), int64(13), object(22)
memory usage: 15.0+ MB

Following columns can be fixed to analyse them better
- Term, emp_length, Interest rate, revol_util  - Can be converted to numberic values
- issue_d, earliest_cr_line, last_pymnt_d,last_credit_pull_d - Can be segegated to year and month for better analysis

In [21]:
## Fixing the numberic columns
df4.term = df4.term.apply(lambda x: x.strip(' months')).astype('int64')
df4.emp_length = df4.emp_length.apply(lambda x: x.strip(' years < year +')).astype('int64')
df4.int_rate = df4.int_rate.apply(lambda x: x.strip(' %')).astype('float')
df4.revol_util = df4.revol_util.apply(lambda x: x.strip(' %')).astype('float')

In [35]:
df4[['Issue_Month', 'Issue_Year']] =df4.issue_d.str.split("-", expand = True)
df4[['Issue_Year']] = df4[['Issue_Year']].astype('int64')

df4[['earliest_cr_line_Month', 'earliest_cr_line_Year']] =df4.earliest_cr_line.str.split("-", expand = True)
df4[['earliest_cr_line_Year']] = df4[['earliest_cr_line_Year']].astype('int64')

df4[['last_pymnt_Month', 'last_pymnt_Year']] =df4.last_pymnt_d.str.split("-", expand = True)
df4[['last_pymnt_Year']] = df4[['Issue_Year']].astype('int64')

df4[['last_credit_pull_Month', 'last_credit_pull_Year']] =df4.last_credit_pull_d.str.split("-", expand = True)
df4[['last_credit_pull_Year']] = df4[['last_credit_pull_Year']].astype('int64')

In [38]:
df4[['Issue_Month', 'Issue_Year', 'earliest_cr_line_Month', 'earliest_cr_line_Year',
     'last_pymnt_Month', 'last_pymnt_Year','last_credit_pull_Month', 'last_credit_pull_Year',
     'term', 'emp_length', 'int_rate', 'revol_util']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36431 entries, 1 to 39623
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Issue_Month             36431 non-null  object
 1   Issue_Year              36431 non-null  int64
 2   earliest_cr_line_Month  36431 non-null  object
 3   earliest_cr_line_Year   36431 non-null  int64
 4   last_pymnt_Month        36431 non-null  object
 5   last_pymnt_Year         36431 non-null  int64
 6   last_credit_pull_Month  36431 non-null  object
 7   last_credit_pull_Year   36431 non-null  int64
 8   term                    36431 non-null  int64
 9   emp_length              36431 non-null  int64
 10  int_rate                36431 non-null  float64
 11  revol_util              36431 non-null  float64
dtypes: float64(2), int64(6), object(4)
memory usage: 3.6+ MB

In [ ]:
df5.select_dtypes(include='object')

## EDA

In [ ]:
(df5.loan_status.value_counts()/ len(df5))*100

In [ ]:
df5.loan_status.value_counts()

In [ ]:
sns.countplot(x=df5.loan_status)
plt.title('Loan Statuses')

14 % or around 6K loan applicants has defaulted on the loans. Let us filter out these applicants in our analysis

In [ ]:
charged_off_applicants = df5[df5.loan_status=='Charged Off']
charged_off_applicants.head()

In [ ]:
charged_off_applicants.purpose.value_counts()/len(charged_off_applicants)

In [ ]:
df5[~(df5.loan_status=='Charged Off')].purpose.value_counts()/34090

Around 40% of these loan applicants were not verfied

In [ ]:
df5.columns

In [ ]:
relevant_features = ['loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan','zip_code', 'addr_state',
       'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt', 'policy_code',
       'application_type', 'acc_now_delinq', 'delinq_amnt']

In [ ]:
plt.figure(figsize=(20, 12))
sns.heatmap(df5[relevant_features].corr(), annot=True, cmap='viridis')
plt.show()

Notice the following relationship
- loan amount with installment amount
- loan amount with funded amount

In [ ]:
font1 = {'family':'serif','color':'blue','size':20}
font2 = {'family':'serif','color':'darkred','size':15}

sns.boxplot(data=df5, x=df5.loan_status , y=df5.loan_amnt, notch=True)

plt.title('Loan Status Vs Loan Amount',  fontdict = font1)
plt.xlabel("Loan Status", fontdict = font2)
plt.ylabel("Loan Amount", fontdict = font2)
plt.show()

In [ ]:
sns.boxplot(data=df5, x=df5.loan_status , y=df5.installment, notch=True)
plt.title('Loan Status Vs Loan Amount',  fontdict = font1)
plt.xlabel("Loan Status", fontdict = font2)
plt.ylabel("Loan Installment", fontdict = font2)
plt.show()